body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1039px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:46px;
}
#u1 {
  position:absolute;
  left:2px;
  top:15px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:355px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:12px;
  top:13px;
  width:1019px;
  height:355px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:2px;
}
#u4 {
  position:absolute;
  left:80px;
  top:309px;
  width:549px;
  height:1px;
  color:#0081E4;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6 {
  position:absolute;
  left:26px;
  top:64px;
  width:507px;
  height:157px;
  font-size:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:355px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:20px;
  top:13px;
  width:1019px;
  height:355px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  word-wrap:break-word;
}
