body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:996px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5951 {
  position:absolute;
  left:50px;
  top:6px;
  width:375px;
  height:668px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
}
#u5954 {
  position:absolute;
  left:50px;
  top:10px;
  width:376px;
  height:20px;
  color:#0099FF;
}
#u5955 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5957 {
  position:absolute;
  left:51px;
  top:39px;
  width:27px;
  height:27px;
  color:#333333;
}
#u5958 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5959 {
  position:absolute;
  left:206px;
  top:46px;
  width:65px;
  height:19px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5961 {
  position:absolute;
  left:66px;
  top:94px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  position:absolute;
  left:64px;
  top:138px;
  width:62px;
  height:61px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  position:absolute;
  left:159px;
  top:138px;
  width:62px;
  height:61px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  position:absolute;
  left:255px;
  top:138px;
  width:62px;
  height:61px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  position:absolute;
  left:350px;
  top:138px;
  width:62px;
  height:61px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5971 {
  position:absolute;
  left:166px;
  top:209px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5973 {
  position:absolute;
  left:71px;
  top:209px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5975 {
  position:absolute;
  left:262px;
  top:209px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5976 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5977 {
  position:absolute;
  left:357px;
  top:209px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  position:absolute;
  left:51px;
  top:249px;
  width:373px;
  height:10px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:-3px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5981 {
  position:absolute;
  left:66px;
  top:289px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5983 {
  position:absolute;
  left:70px;
  top:325px;
  width:277px;
  height:21px;
  font-size:14px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u5985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5985 {
  position:absolute;
  left:385px;
  top:326px;
  width:10px;
  height:17px;
}
#u5986 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u5987 {
  position:absolute;
  left:61px;
  top:354px;
  width:354px;
  height:1px;
}
#u5988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5989 {
  position:absolute;
  left:70px;
  top:366px;
  width:277px;
  height:21px;
  font-size:14px;
}
#u5990 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u5991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5991 {
  position:absolute;
  left:385px;
  top:367px;
  width:10px;
  height:17px;
}
#u5992 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u5993 {
  position:absolute;
  left:61px;
  top:395px;
  width:354px;
  height:1px;
}
#u5994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5995 {
  position:absolute;
  left:70px;
  top:409px;
  width:277px;
  height:21px;
  font-size:14px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u5997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5997 {
  position:absolute;
  left:385px;
  top:410px;
  width:10px;
  height:17px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u5999 {
  position:absolute;
  left:61px;
  top:438px;
  width:354px;
  height:1px;
}
#u6000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6001 {
  position:absolute;
  left:70px;
  top:452px;
  width:277px;
  height:21px;
  font-size:14px;
}
#u6002 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u6003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6003 {
  position:absolute;
  left:385px;
  top:453px;
  width:10px;
  height:17px;
}
#u6004 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6005 {
  position:absolute;
  left:61px;
  top:481px;
  width:354px;
  height:1px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6007 {
  position:absolute;
  left:61px;
  top:76px;
  width:354px;
  height:1px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6009 {
  position:absolute;
  left:353px;
  top:47px;
  width:57px;
  height:16px;
}
#u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6011 {
  position:absolute;
  left:70px;
  top:495px;
  width:277px;
  height:21px;
  font-size:14px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6013 {
  position:absolute;
  left:385px;
  top:496px;
  width:10px;
  height:17px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6015 {
  position:absolute;
  left:61px;
  top:524px;
  width:354px;
  height:1px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017 {
  position:absolute;
  left:61px;
  top:314px;
  width:354px;
  height:39px;
  overflow:hidden;
}
#u6017_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6018 {
  position:absolute;
  left:61px;
  top:359px;
  width:354px;
  height:31px;
  overflow:hidden;
}
#u6018_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6018_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6019 {
  position:absolute;
  left:61px;
  top:401px;
  width:354px;
  height:31px;
  overflow:hidden;
}
#u6019_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6019_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6020 {
  position:absolute;
  left:61px;
  top:443px;
  width:354px;
  height:31px;
  overflow:hidden;
}
#u6020_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6021 {
  position:absolute;
  left:64px;
  top:489px;
  width:354px;
  height:31px;
  overflow:hidden;
}
#u6021_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6021_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6022 {
  position:absolute;
  left:56px;
  top:130px;
  width:83px;
  height:107px;
  overflow:hidden;
}
#u6022_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:107px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6022_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6023 {
  position:absolute;
  left:149px;
  top:132px;
  width:84px;
  height:105px;
  overflow:hidden;
}
#u6023_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:105px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6023_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6024 {
  position:absolute;
  left:243px;
  top:132px;
  width:91px;
  height:105px;
  overflow:hidden;
}
#u6024_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:105px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6024_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6025 {
  position:absolute;
  left:344px;
  top:132px;
  width:80px;
  height:107px;
  overflow:hidden;
}
#u6025_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:107px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6026 {
  position:absolute;
  left:51px;
  top:29px;
  width:53px;
  height:47px;
  overflow:hidden;
}
#u6026_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6026_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u6027 {
  position:absolute;
  left:544px;
  top:29px;
  width:41px;
  height:28px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u6029 {
  position:absolute;
  left:546px;
  top:73px;
  width:500px;
  height:138px;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u6030 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u6031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6031 {
  position:absolute;
  left:553px;
  top:73px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6032 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6033 {
  position:absolute;
  left:114px;
  top:46px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6034 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6035 {
  position:absolute;
  left:319px;
  top:46px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6036 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6037 {
  position:absolute;
  left:149px;
  top:90px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6038 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6039 {
  position:absolute;
  left:149px;
  top:280px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6040 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6041 {
  position:absolute;
  left:553px;
  top:107px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6042 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6043 {
  position:absolute;
  left:553px;
  top:147px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6044 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6045 {
  position:absolute;
  left:553px;
  top:181px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u6046 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
