body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6328 {
  position:absolute;
  left:50px;
  top:10px;
  width:375px;
  height:668px;
}
#u6329 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
}
#u6331 {
  position:absolute;
  left:50px;
  top:10px;
  width:376px;
  height:20px;
  color:#0099FF;
}
#u6332 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6334 {
  position:absolute;
  left:51px;
  top:39px;
  width:27px;
  height:27px;
  color:#333333;
}
#u6335 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6336 {
  position:absolute;
  left:206px;
  top:44px;
  width:65px;
  height:19px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6337 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6338 {
  position:absolute;
  left:77px;
  top:137px;
  width:329px;
  height:75px;
}
#u6339 {
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u6340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6340 {
  position:absolute;
  left:61px;
  top:127px;
  width:354px;
  height:1px;
}
#u6341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u6342 {
  position:absolute;
  left:77px;
  top:93px;
  width:349px;
  height:24px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u6343 {
  position:absolute;
  left:2px;
  top:4px;
  width:345px;
  word-wrap:break-word;
}
#u6344 {
  position:absolute;
  left:51px;
  top:30px;
  width:44px;
  height:54px;
  overflow:hidden;
}
#u6344_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6344_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
